apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-init-db-script
data:
  init.sql: |
    CREATE DATABASE engine_qrtz_db;
    GRANT ALL PRIVILEGES ON DATABASE engine_qrtz_db TO postgres;

    CREATE DATABASE engine_checkpoints_db;
    GRANT ALL PRIVILEGES ON DATABASE engine_checkpoints_db TO postgres;
