# Documentation on PubSub API:
# https://docs.cloud.google.com/pubsub/docs/reference/rest?rep_location=global
#
# Example of how to create a topic anf a subscription:
#   curl -X PUT http://localhost:8085/v1/projects/test-project/topics/test-topic
#   curl -H 'content-type: application/json' -X PUT -d '{"topic": "projects/test-project/topics/test-topic"}' http://localhost:8085/v1/projects/test-project/subscriptions/test-subscription
#
# Get topics and subscriptions:
#   curl -X GET http://localhost:8085/v1/projects/test-project/topics
#   curl -X GET http://localhost:8085/v1/projects/test-project/subscriptions
#
# Delete topics and subscriptions:
#   curl -X DELETE http://localhost:8085/v1/projects/test-project/subscriptions/test-subscription
#   curl -X DELETE http://localhost:8085/v1/projects/test-project/topics/test-topic

services:
  pubsub:
    container_name: pubsub
    image: google/cloud-sdk
    ports:
      - '8085:8085'
    command: ["gcloud", "beta", "emulators", "pubsub", "start", "--host-port", "0.0.0.0:8085", "--project=test-project"]
