apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Release.Name }}-sessions-management
  name: {{ .Release.Name }}-sessions-management
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    app: {{ .Release.Name }}-sessions-management
