.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 8px 0;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.table {
  composes: table from "./parameterTable.module.css";
}

.actionsCol {
  composes: actionsCol from "./parameterTable.module.css";
}

.th {
  text-align: left;
  border-bottom: 1px solid var(--vscode-input-border, #d9d9d9);
  padding: 8px 4px;
  font-weight: 500;
}

.td {
  border-bottom: 1px solid var(--vscode-input-border, #d9d9d9);
  padding: 4px;
}

.tdAction {
  border-bottom: 1px solid var(--vscode-input-border, #d9d9d9);
  padding: 4px;
  text-align: right;
}

.deleteBtn {
  font-size: 16px;
  height: 32px;
  width: 32px;
}
