apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-runtime-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-runtime-catalog
  strategy: {}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-runtime-catalog
    spec:
      serviceAccountName: {{ .Release.Name }}-service-account
      containers:
        - args:
            - /opt/java/openjdk/bin/java
            - -Xmx642m
            - -XX:MetaspaceSize=192m
            - -XX:MaxMetaspaceSize=192m
            - -XX:MaxDirectMemorySize=64m
            - -XX:+ExitOnOutOfMemoryError
            - -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
            - -Djava.security.egd=file:/dev/./urandom
            - -Dfile.encoding=UTF-8
            - -jar
            - /app/qip-runtime-catalog.jar
          env:
            - name: CONSUL_ADMIN_TOKEN
              valueFrom:
                configMapKeyRef:
                  key: CONSUL_ADMIN_TOKEN
                  name: {{ .Release.Name }}-env
            - name: CONSUL_URL
              valueFrom:
                configMapKeyRef:
                  key: CONSUL_URL
                  name: {{ .Release.Name }}-env
            - name: NAMESPACE
              valueFrom:
                configMapKeyRef:
                  key: NAMESPACE
                  name: {{ .Release.Name }}-env
            - name: OPENSEARCH_HOST
              valueFrom:
                configMapKeyRef:
                  key: OPENSEARCH_HOST
                  name: {{ .Release.Name }}-env
            - name: OPENSEARCH_PORT
              valueFrom:
                configMapKeyRef:
                  key: OPENSEARCH_PORT
                  name: {{ .Release.Name }}-env
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgres-auth
                  key: password
            - name: POSTGRES_URL
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_URL
                  name: {{ .Release.Name }}-env
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgres-auth
                  key: username
            - name: TRACING_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: TRACING_ENABLED
                  name: {{ .Release.Name }}-env
          image: qubership-integration-platform-qip-runtime-catalog:latest
          imagePullPolicy: Never
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            failureThreshold: 15
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 15
          name: qip-runtime-catalog
          ports:
            - containerPort: 8080
            - containerPort: 5005
      restartPolicy: Always
