<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.yaml"/>

    <springProperty scope="context" name="logFormat" source="logging.format" defaultValue="json"/>
    <property name="appenderName_json" value="STDOUT_JSON" />
    <property name="appenderName_text" value="STDOUT" />
    <property name="appenderName" value="${appenderName_${logFormat}:-STDOUT_JSON}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%-5p] [request_id=%-15X{requestId:--}] [thread=%-15.15t] [traceId=%-16X{X-B3-TraceId:--}] [spanId=%-16X{X-B3-SpanId:--}] [class=%-60.60c{59}] [method=%-30.30M] - %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>time</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>class</fieldName>
                </loggerName>
                <callerData>
                    <methodFieldName>method</methodFieldName>
                    <classFieldName>[ignore]</classFieldName>
                    <fileFieldName>[ignore]</fileFieldName>
                    <lineFieldName>[ignore]</lineFieldName>
                </callerData>
                <pattern>
                    <pattern>
                        {
                        "request_id": "%.-15X{requestId:--}",
                        "traceId": "%.-16X{X-B3-TraceId:--}",
                        "spanId": "%.-16X{X-B3-SpanId:--}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="${appenderName}"/>
    </root>

    <logger name="Hibernate Types" level="ERROR">
        <appender-ref ref="${appenderName}"/>
    </logger>
</configuration>
