apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: qip
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["*"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["*"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["*"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: qip-binding
subjects:
  - kind: ServiceAccount
    name: default
roleRef:
  kind: Role
  name: qip
  apiGroup: rbac.authorization.k8s.io
