version: "1.0"

configs:
  cip:
    extensions:
      chain: .chain.${appName}.yaml
      contextService: .context-service.${appName}.yaml
      mcpService: .mcp-service.${appName}.yaml
      service: .service.${appName}.yaml
      specificationGroup: .specification-group.${appName}.yaml
      specification: .specification.${appName}.yaml
    schemaUrls:
      contextService: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/context-service
      mcpService: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/mcp-service
      service: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/service
      chain: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/chain
      specification: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/specification
      specificationGroup: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/specification-group

  pip:
    extensions:
      chain: .chain.${appName}.yaml
      contextService: .context-service.${appName}.yaml
      mcpService: .mcp-service.${appName}.yaml
      service: .service.${appName}.yaml
      specificationGroup: .specification-group.${appName}.yaml
      specification: .specification.${appName}.yaml
    schemaUrls:
      contextService: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/context-service
      mcpService: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/mcp-service
      service: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/service
      chain: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/chain
      specification: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/specification
      specificationGroup: http://netcracker.com/schemas/product/cloud-integration-platform/conf-model/specification-group

cache:
  ttl: 60000

